* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #27374D;
}

.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 7rem;
  position: fixed;
  background-color: #526D82;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

a {
  color: #DDE6ED;
  text-decoration: none;
  font-size: 1.6rem;
  transition: ease-in-out 200ms;
}

a:hover {
  filter: brightness(1.2);
}

.perfil {
  width: 50rem;
  height: auto;
}

.imagem-perfil {
  display: flex;
  text-align: center;
  align-items: center;
}